body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
}

.titulo {
    background: black;
    color: #bbbbbb;
    font-size: 40px;
    padding-left: 20px;
}

.cabeça {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}




.banner {

    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;

}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "★";
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
    opacity: 0.5;
}

.video {
    width: 560px;
    margin: 2em auto;
}

footer {
    text-align: center;
    background: url("../imagens/bg.jpg");
}

.Copyright {
    color: white;
    font-size: 13px;
    padding: 20px 0;

}
@media screen and (max-width: 480px) {
    .titulo,.cabeça, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}